# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/SaitamaRobot/modules/blacklistusers.py @yuu-456
/SaitamaRobot/modules/sql/blacklistusers_sql.py @yuu-456
#pep8-ing the code doesn't change maker
/SaitamaRobot/modules/paste.py @yuu-456
/SaitamaRobot/modules/speed_test.py @yuu-456

